<div class=thetext>
    <p>enter data individually</p>
    <input type="text" id="load" name="load" placeholder="load"> 
    <input type="text" id="x" name="x" placeholder="x"> 
    <input type="text" id="y" name="y" placeholder="y"> 
    <input type="button" onclick=getans() value="submit">
    <p>response:<a id="resp"></a></p>
    <p>enter data as JSON (entries must have double quotes e.g. {"loadId": "231", "x": "5","y": "3" })</p>
    <input type="text" id="jsn" name="load" placeholder="JSON"> 
    <input type="button" onclick=getans2() value="submit">
    <p>response:<a id="resp2"></a></p>
</div>
<script defer src="public/tester.js"></script>